.App {
    display: flex;
    flex-direction: column;   
    background-image: url("https://www.freepik.com/free-photo/vertical-shot-beautiful-starry-sky_11818437.htm#from_view=detail_collection");
    
}  
    
.nasa-logo{
    height: 300px;
    width: 400px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
}