.returned-images {
    height: 20em;
    width: 20em;
    /* display: flex;
    flex-direction: row; */
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    border-radius: 5%;
    position:relative;
}

.all-results {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}